proj.ios_mac/ios/bin
proj.ios_mac/ios/build
proj.ios_mac/ios/CMakeFiles
proj.ios_mac/ios/engine
proj.ios_mac/ios/lib
proj.ios_mac/ios/BattleRub.build
cocos2d
proj.ios_mac/ios/BattleRub.xcodeproj/project.xcworkspace/xcuserdata
proj.ios_mac/ios/BattleRub.xcodeproj/xcuserdata
proj.ios_mac/ios/Pods
proj.ios_mac/ios/BattleRub.xcworkspace/xcuserdata
